form {
  input {
    display: block;
    width: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    line-height: 1.25;
    color: $grey;
    background-color: $white;
    background-clip: padding-box;
    margin-bottom: 1rem;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);

    &:focus {
      border-color: $grey;
    }
  }

  button {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    background: $green;
    color: $white;
    cursor: pointer;
    outline: 0;

    &:hover {
      background-color: darken($green, 10%);
      transition: 0.3s ease;
    }
  }

  ul.validation-errors {
    color: $red;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1rem;

    li {
      margin-bottom: 5px;
    }
  }

  &.submitting {
    cursor: not-allowed;

    input {
      cursor: not-allowed;
      background: $lightGrey;
    }

    button {
      background: lighten($green, 15%);
      pointer-events: none;
    }
  }
}

.form-wrapper {
  max-width: 570px;
}
